<?xml version="1.0" encoding="UTF-8"?>

<!-- 
 * @Copyright (C) 2016 Igor Agafonov
 * @licenseGPL
-->

<phpunit bootstrap="./bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="SmsTest">
            <directory>./SmsTest/Entity</directory>
        </testsuite>
    </testsuites>
</phpunit>
